@hasanthikaaa:registry=https://npm.pkg.github.com/hasanthikaaa
@hasanthikaaa:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org